@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

td {
  padding: 0.7rem 0;
}